*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#0b1f3a;
    color:white;
    font-family:Arial, sans-serif;
}

/* ENCABEZADO */

header{
    background-color:#102a4c;
    text-align:center;
    padding:30px;
}

header h1{
    font-size:50px;
    color:#4fc3f7;
    text-shadow:0 0 15px rgba(79,195,247,.5);
}

header p{
    margin-top:10px;
    font-size:20px;
}

/* MENÚ */

nav{
    background-color:#183b63;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 20px;
    font-size:18px;
    transition:.3s;
}

nav a:hover{
    color:#4fc3f7;
    text-shadow:0 0 15px #4fc3f7;
}

nav a:hover{
    color:#4fc3f7;
}

/* SECCIÓN PRINCIPAL */

.principal{
    text-align:center;
    padding:40px 20px;

    background:
    linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
    url("fondo.jpg");

    background-size:cover;
    background-position:center;
    text-shadow:0 0 20px rgba(255,255,255,.3);
}

.principal h2{
    font-size:40px;
    margin-bottom:30px;
}

.principal p{
    font-size:22px;
    margin-bottom:40px;
}

/* BOTÓN */

button{
    background:#00aaff;
    color:white;
    border:none;
    padding:15px 30px;
    font-size:18px;
    border-radius:20px;
    cursor:pointer;
    transition:0.4s;
}

button:hover{
    background:#0077cc;
    transform:scale(1.1);
}

/* SERVICIOS */

.servicios{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
    padding:60px;
}

.tarjeta{
    background:#1d1d1d;
    width:320px;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 0 15px rgba(0,0,0,0.5);
    transition:0.4s;
}

.tarjeta:hover{
    transform:translateY(-15px) scale(1.05);
    background:#243b63;
    box-shadow:0 0 40px rgba(79,195,247,.6);
}

.tarjeta h3{
    color:#4fc3f7;
    margin-bottom:20px;
}

/* PIE DE PÁGINA */

footer{
    background:#102a4c;
    text-align:center;
    padding:40px;
    margin-top:40px;
}

footer h3{
    color:#4fc3f7;
    font-size:30px;
    margin-bottom:10px;
    text-shadow:0 0 20px rgba(79,195,247,.6);
}

footer p{
    margin:10px;
}

/* BOTÓN WHATSAPP */

.whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    width:65px;
    height:65px;
    background:#25D366;
    color:white;
    border-radius:50%;
    text-align:center;
    line-height:65px;
    font-size:35px;
    text-decoration:none;
    box-shadow:0 0 15px rgba(0,0,0,0.5);
    transition:0.4s;
}

.whatsapp:hover{
    transform:scale(1.15);
    box-shadow:0 0 30px #25D366;
}

.linea{
    width:250px;
    margin:25px auto;
    border:1px solid #4fc3f7;
}

/* ANIMACIÓN SUAVE */

@keyframes aparecer{
    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

header,
nav,
.principal,
.servicios,
.galeria,
footer{
    animation:aparecer 1s ease;
}

nav{
    position:sticky;
    top:0;
    z-index:100;
}

nav{
    position:sticky;
    top:0;
    z-index:1000;
}

body{
    background:linear-gradient(to bottom,#081b36,#0b1f3a);
}

.galeria{
    text-align:center;
    padding:60px;
}

.galeria h2{
    color:#4fc3f7;
    margin-bottom:40px;
    font-size:35px;
}

.imagenes{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.imagenes img{
    width:400px;
    height:250px;
    object-fit:cover;
    border-radius:20px;
    box-shadow:0 0 20px rgba(79,195,247,.3);
    transition:.4s;
}

.imagenes img:hover{
    transform:scale(1.05);
    box-shadow:0 0 40px rgba(79,195,247,.5);
}

.galeria{
    text-align:center;
    padding:60px;
}

.galeria h2{
    color:#4fc3f7;
    margin-bottom:40px;
    font-size:35px;
}

.imagenes{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.imagenes img{
    width:300px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(79,195,247,.3);
    transition:.4s;
}

.imagenes img:hover{
    transform:scale(1.05);
    box-shadow:0 0 30px rgba(79,195,247,.5);
}
.trabajo{
    text-align:center;
}

.trabajo p{
    margin-top:15px;
    color:#4fc3f7;
    font-size:22px;
    font-weight:bold;
}
